<title>{{ page.title }}{% if page.title!="" %} | {% endif %}{{ site.title }}</title>
<link type="text/css" rel="stylesheet" href="{{ '/assets/main.css?v=' | append: site.github.build_revision | relative_url }}" media="all">
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta name="description" content="{% if page.metatags.description %}{{ page.metatags.description }}{% else %}{{ site.metatags.description }}{% endif %}">
<meta name="keywords" content="{% if page.metatags.keywords %}{{ page.metatags.keywords }}{% else %}{{ site.metatags.keywords }}{% endif %}">
<!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
{% if site.google_verify %}
<meta name="google-site-verification" content="{{ site.google_verify }}" /> {% endif %}
